*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
ul,
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/*---Header---*/
.header{
    background-color: rgba(102, 8, 8, 0.815);
    padding: 15px;

}
.header__title{
    text-align: center;
    color: red;
}
.header__logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__logo2{
    padding: 20px;
    width: 100%;
}
.header__nav ul{
    display: flex;
    padding: 20px;
    color: red;
    justify-content: space-around;
}
@media(min-width: 768px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
    .header__nav{
        width: 50%;
    }
    }
    /*---Hero Section---*/
    .hero{
        grid-area: hero;
    }
    .hero{
        height: 50%;
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
        .hero__text{
            padding: 20px;
            justify-content: space-around;
            text-align: center;
            color: rgb(240, 75, 10)
        }
            @media (min-width: 768px){
                .contenedor-hero{
                    height: 100%;
                    align-items: center;
                    flex-direction: column;
                }
            }
        .container__img{
            width: 60%;
            padding: 30px;
            border-radius: 50px;
        }
        /*---Sección productos---*/
        .productos{
            grid-area: productos;
        }
        .productos__title{
            background-color: saddlebrown;
            text-align: center;
            padding: 30px;
        }
        .productos__contenedor{
            padding: 10px;
            display: flex;
            overflow: auto;
            gap: 20px;
        }
        .tarjeta{
            background-color: rgba(241, 222, 207, 0.432);
            width: 180px;
            height: 350px;
            border: solid;
            border-radius: 50px;
            width: 300px;
            padding: 30px;
            display: flex;
            flex-direction: column;
        }
        .tarjeta__img{
            width: 100%;
            border-radius: 50px;
        }
        .tarjeta__title{
            text-align: center;
            padding: 10px;
        }
        .tarjeta__boton{
            padding: 3px 3px;
            border: 2px solid black;
            text-align: center;
            border-radius: 20px;
            color: black;
            background-color: rgba(255, 0, 0, 0.527);
        }
        /*---botones---*/
        .tarjeta__boton{
            background-color: lightseagreen;
            color: solid black;
            padding: 15px 15px;
            border-radius: 20px;
        }
        .tarjeta__boton:hover{
            border: red 2px solid;
            background-color: whitesmoke;
            color: red;
        }
        /*---contacto---*/
        .contacto{
            grid-area: contacto;
        }
        .contacto__title{
            background-color: saddlebrown;
            text-align: center;
            padding: 10px;
        }

/*---Redes---*/
.redes{
    grid-area: redes;
}
.redes__title{
    background-color: saddlebrown;
    text-align: center;
    padding: 10px;
}
.contenedor-redes{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
}
@media (min-width: 768px){
    .contenedor-redes{
        height: 100%;
        align-items: center;
        flex-direction: column;
    }
}
    /*---Footer---*/
    .footer{
        grid-area: redes;
    }
    .footer__title{
        background-color: saddlebrown;
        text-align: center;
        padding: 10px;
    }
    .contenedor-footer{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    @media (min-width: 768px){
        .contenedor-footer{
            height: 100%;
            align-items: center;
            flex-direction: column
        }
}