*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
ul,
li{
    list-style: none;
}
a:link{
    text-decoration: none;
    color: rgb(109, 105, 105);
}
a:visited{
    color: rgb(240, 9, 9);
}
/*---Header---*/
.header{
    background-color: rgba(102, 8, 8, 0.815);
    padding: 10px;

}
.header__title{
    text-align: center;
    color: red;
    text-shadow: 10px 10px 10px rgb(20, 20, 19);
}
.header__logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__logo img{
    padding: 5px;
    width: 20%;
}

.header__nav ul{
    display: flex;
    padding: 20px;
    color: rgb(31, 27, 27);
    text-shadow: 10px 5px 5px rgba(20, 20, 19, 0.692);
    justify-content: space-around;
}

@media(min-width: 768px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
    .header__nav{
        width: 50%;
    }
    }
    /*---Hero Section---*/
    .hero{
        grid-area: hero;
    }
    .hero{
        height: 50%;
        background-color: rgba(87, 2, 2, 0.788);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
        .hero__text{
            padding: 50px;
            justify-content: space-around;
            text-align: center;
            color: rgb(240, 75, 10)
        }
            @media (min-width: 768px){
                .contenedor-hero{
                    height: 100%;
                    align-items: center;
                    flex-direction: column;
                }
            }
        .contenedor__img{
            width: 90%;
            padding: 10px;
            border-radius: 20px;
        }
        /*---Sección productos---*/
        .productos{
            grid-area: productos;
        }
        .productos__title{
            background-color: saddlebrown;
            text-align: center;
            padding: 10px;
        }
        .productos__contenedor{
            padding: 10px;
            display: flex;
            overflow: auto;
            gap: 50px;
        }
        @media (min-width: 768px){
            .contenedor-productos{
                height: 100%;
                gap: 30px;
                padding: 20px;
                display: flex;
                align-items: center;
            }
        }
        /*---sección tarjetas y botones---*/
        .tarjeta{
            background-color: rgba(241, 222, 207, 0.541);
            height: 300px;
            border: solid saddlebrown;
            border-radius: 50px;
            width: 200px;
            padding: 50px;
            display: flex;
            flex-direction: column;
        }
        .tarjeta__img{
            width: 100px;
            height: 100px;
            border-radius: 20px;
        }
        .tarjeta__title{
            text-align: center;
            padding: 10px;
            font-size: auto;
        }
        .tarjeta__boton{
            width: 10%;
            height: 10%;
            padding: 10px;
            border: 3px solid saddlebrown;
            text-align: center;
            color: black;
            background-color: rgba(255, 0, 0, 0.527);
        }
        .tarjeta__boton{
            background-color: rgba(218, 106, 15, 0.521);
            color: solid black;
            border-radius: 5px;
            height: 100px;
            width: 100px;
        }
        .tarjeta__boton:hover{
            border: rgba(214, 36, 5, 0.781) 2px solid;
            background-color: rgba(221, 47, 3, 0.76);
            color: rgba(242, 242, 255, 0.795);
        }
        @media (min-width: 768px){
            .contenedor-tarjetasybotones{
                height: 100%;
                width: 100%;
                gap: 50px;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                overflow: scroll;
                align-items: center;
            }
        }
        /*---contacto---*/
        .contacto{
            grid-area: contacto;
        }
        .contacto__title{
            background-color: saddlebrown;
            text-align: center;
            padding: 10px;
        }
/*---Redes---*/
.redes{
    grid-area: redes;
}
.redes__title{
    background-color: saddlebrown;
    text-align: center;
    padding: 10px;
}
.contenedor-redes{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
}
@media (min-width: 768px){
    .contenedor-redes{
        height: 100%;
        align-items: center;
        flex-direction: column;
    }

    }
        /*--- Ubicación ---*/
        .ubicacion{
            grid-area: ubicacion;
        }
        .ubicacion__title{
            background-color: saddlebrown;
            text-align: center;
            padding: 10px;
        }
        .ubicacion__mapa{
            width: 100%;
            padding: 10px;
        }
    /*---Footer---*/
    .footer{
        grid-area: footer;
    }
    .footer__title{
        background-color: saddlebrown;
        text-align: center;
        padding: 30px;
    }
    .contenedor-footer{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    @media (min-width: 768px){
        .contenedor-footer{
            height: 0px;
            align-items: center;
            flex-direction: column;
        }
        }